# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @navikt/salesforce-arbeidsgiver-admin and
# @navikt/salesforce-arbeidsgiver will be requested for
# review when someone opens a pull request.
*       @navikt/salesforce-arbeidsgiver-admin @navikt/salesforce-arbeidsgiver
