/**
 * Created by u157416 on 11/10/2019.
 */

.THIS .scrollHeight {
    height: 300px;
    /* overflow: scroll; */
}

.THIS .txtColor {
    color: rgb(21, 137, 238);
}

.THIS .noBorder {
    border: none;

}

.THIS .backgroundColor {
    background-color: #E9E7E7;

}