.row {
	margin-bottom: 1.4em;
}

.stripe {
	/* position: absolute; */
	/* border-left: 0.2em solid red; */
	width: 0.15em;
	background-color: gray;
	margin: 0 auto;
	min-height: 100%;
}

.table {
	display: table;
	height: 100%;
}

.cell {
	vertical-align: top;
	display: table-cell;
	height: 100%;
}

.cell-right {
	width: 100%;
}

.cell-icon {
	margin-top: 0.3em;
	border: 0.15em solid white;
}

.container {
	height: 100%;
	-moz-box-sizing: border-box;
	margin: 0 0.7em 0 1.7em;
}