.announcement__author {
    color: var(--slds-g-color-on-surface-2);
}
.announcement__title {
    color: var(--slds-g-color-on-surface-2);
}
.announcement__content {
    color: var(--slds-g-color-on-surface-1);
}
