.fieldcontainer {
    margin-block-end: var(--slds-g-spacing-2);
}
.fieldlabel {
    color: var(--slds-s-label-color, var(--slds-g-color-on-surface-2));
    font-size: var(--slds-s-label-font-size, var(--slds-g-font-scale-neg-2));
    font-weight: var(--slds-s-label-font-weight);
}

.fieldvalue {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
