.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.25rem;
}

.chevronIcon {
    /* fill: #706e6b;  Salesforce grey */
    align-self: center;
}

.headerLeft {
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    line-height: 1.875rem;
    border: var(--slds-g-sizing-border-1) solid transparent;
}
.headerToggleAction {
    display: flex;
    align-items: center;
    background-color: var(--slds-g-color-surface-container-2);
    cursor: pointer;
    text-align: left;
    color: var(--slds-g-color-on-surface-3);
    font-size: inherit;
    font-weight: normal;
    padding: 0 var(--slds-g-spacing-2);
}
/* Adjustments for mobile app */
@media (max-width: 480px) {
    .headerContainer {
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
        background: white;
    }
    .headerLeft {
        background: white;
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
        padding-left: 13px;
        padding-right: 8px;
        font-size: 1rem;
        border-radius: 0.25rem;
    }
    .headerToggleAction {
        background: white;
        padding-left: 0;
        border: none;
        box-shadow: none;
        font-weight: bold;
    }
}

.headerIcon {
    width: 1.5rem;
    height: 1.5rem;
}

.headerTitle {
    /* margin: 0 0.5rem; */
    line-height: 1.5rem;
}

.headerToggle {
    margin-left: 0.5rem;
    line-height: 1.5rem;
}

.newRecordButton {
    align-self: center;
    padding: 0 0.5rem;
}

/* Inactive row styling: light grey background and grey text */
.inactiveRow {
    background-color: #f4f6f9 !important;
    color: #7e7e7e !important;
}

/* Also force text inside inactive rows to appear grey */
.inactiveRow .slds-truncate {
    color: #7e7e7e;
}

.slds-table thead tr>th:first-child,
.slds-table tbody tr>td:first-child {
    padding-left: 1rem !important;
}

.slds-popover_medium .slds-popover__header {
    background-color: #f3f2f2;
        /* Slight grey for the header */
    border-bottom: 1px solid #dddbda;
}

.slds-popover_medium .slds-popover__body {
    padding: 1rem;
}

.slds-table[data-clickable="true"] tbody tr:hover td:first-child .slds-truncate {
    text-decoration: underline;
    color: var(--lwc-colorTextLinkHover);
}

.slds-table[data-clickable="true"] tbody tr td:first-child .slds-truncate {
    color: var(--lwc-colorTextLink);
    text-decoration: none;
  }