.line-spacing {
    margin-bottom: -1.5rem !important;
  }

:host {
--slds-c-card-header-spacing-block-end: 0;
--slds-c-card-body-spacing-block-start: 0;
display: block;
  margin-top: -1.2rem;
  margin-bottom: -2rem;
}
  