.loadMoreFooter {
	border-top: 0.15em solid #dddbda;
	width: 100%;
}

.loadMoreBtn {
	margin-top: 0.6em;
	margin-bottom: -0.4em;
}

.loadMoreFooter:hover {
	text-decoration: underline;
	text-decoration-style: inherit;
	cursor: pointer;
}

.table {
	display: table;
	height: 100%;
}

.cell {
	vertical-align: top;
	display: table-cell;
	height: 100%;
}

.cell-right {
	width: 100%;
}

.cell-icon {
	border: 0.15em solid white;
}

.container {
	height: 100%;
	-moz-box-sizing: border-box;
	margin: 0 0.7em 0 1.7em;
}