.container {
    padding: 0 16px;
}

.title {
    font-size: 1em;
    margin: 0;
    padding: 0;
    border-bottom: none;
}

ul,
ol,
table {
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 0.75rem;
    margin-top: 0.6rem;
    color: #525250;
}

p {
    font-size: 0.875rem;
    margin-top: 0.4rem;
    min-height: 1rem;
    border-bottom: 1px solid #dddbda;
}

ul,
ol {
    margin-left: 2em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

pre {
    padding: 1rem;
    background: #f8f8f8;
}

table {
    border: 1px solid #dddbda;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #dddbda;
    padding: 0.5em;
}

table th[align='left'],
table td[align='left'] {
    text-align: left;
}

table th[align='right'],
table td[align='right'] {
    text-align: right;
}

table th[align='center'],
table td[align='center'] {
    text-align: center;
}
