/* Badge Styling */
.badge-neutral {
    background-color: var(--slds-g-color-palette-yellow-90);
    border-color: var(--slds-g-color-palette-yellow-80);
}

.record-list--item {
    background-color: var(--slds-g-color-surface-container-1);
    border: var(--slds-g-sizing-border-1, 1px) solid var(--slds-g-color-border-1, #b6b6b6);
    border-radius: var(--slds-g-radius-border-2, 0.5rem);
}

/* Preview-knappen er skjult 
.preview-button {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
}*/

/* Hvis wrapper eller noe inni får fokus via TAB – vis knappen
.badge-wrapper:focus-within .preview-button {
    clip-path: unset;
    clip: unset;
    position: relative;
}
     */
